<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mategotchi </title>
    <link rel="stylesheet" href="../public/css/general_styles.css">
    <link rel="stylesheet" href="../public/css/index_styles.css">
    <link rel="stylesheet" href="../node_modules/nes.css/css/nes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>    
</head>

<body>

    <header class="contenedor" id="header-principal">
        <div id="header-index">
            <nav>
                <div id="header-logo_mategotchi">
                    <a href="/" id="header-logo">
                        <picture>
                            <source media="(min-width: 871px)" srcset="../public/img/logo-completo.png">
                            <img src="../public/img/logo.png" alt="Logo de Mategotchi">
                        </picture>
                    </a>
                </div>
                <button type="button" id="boton-menu"><em class="fas fa-bars nes-btn"></em></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/" class="nes-btn is-warning">Inicio</a></li>
                        <li><a href="/" class="nes-btn is-primary" id="login-btn">Iniciar Sesión</a></li>
                        <li><a href="/" class="nes-btn" id="register-btn">Registrarse</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-section">
        
        <h1 class="titleh1">¡Bienvenido!</h1>
        
        <section class="info-bienvenida">
            <div class="info">
                <div class="avatar-gif" id="avatar1">
                    <img src="../public/img/rabbit-gif.gif" alt="">
                </div>
                <div class="mensaje-bienvenida info-div nes-container is-rounded" id="bienvenida1">
                    <p>Descubre una nueva y divertida manera de aprender matemáticas.</p>
                </div>
            </div>
            <div class="info">
                <div class="mensaje-bienvenida info-div nes-container is-rounded" id="bienvenida2">
                    <p>¡Aprende junto a mi y muchas mascotas más!</p>
                </div>
                <div class="avatar-gif" id="avatar2">
                    <img src="../public/img/mouse-gif.gif" alt="">
                </div>
            </div>
        </section>
        
        <section class="info-objetivo">
                <h2 class="subtitle">Nuestro objetivo</h2>
                <section class="slider">
                    <div class="slides">
                        <!-- Botones -->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <input type="radio" name="radio-btn" id="radio5">
                        <!-- Fin de botones -->
                        <!-- Imagenes -->
                        <div class="slide first">
                            <img id="img1" src="../public/img/img_slider/slider1_lg.png" alt="foto-ext-1">
                        </div>
                        <div class="slide">
                            <img id="img2" src="../public/img/img_slider/slider2_lg.png" alt="foto-ext-2">
                        </div>
                        <div class="slide">
                            <img id="img3" src="../public/img/img_slider/slider3_lg.png" alt="foto-int-1">
                        </div>
                        <div class="slide">
                            <img id="img4" src="../public/img/img_slider/slider4_lg.png" alt="foto-int-2">
                        </div>
                        <div class="slide">
                            <img id="img5" src="../public/img/img_slider/slider5_lg.png" alt="foto-dr-1">
                        </div>
                        <!-- Fin de imagenes -->
                        <!--Navegacion automatica-->
                        <div class="navegacion-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                            <div class="auto-btn5"></div>
                        </div>
                        <!--fin de navegacion automatica-->
                    </div>
                    <!--Navegacion manual-->
                    <div class="navegacion-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                        <label for="radio5" class="manual-btn"></label>
                        <label for="radio6" class="manual-btn"></label>
                    </div>
                    <!--fin de navegacion manual-->                    
                </section>
                <div class="mensaje-bienvenida info-div info nes-container">
                    <p class="justify-text">
                        Queremos ayudar a los niños de primaria en México, a aprender de una
                        manera más facil y divertida la materia de matemáticas. 
                    </p>
                    <p class="justify-text">
                        Sabemos que a veces las matemáticas pueden ser muy complicadas para los niños. Es por ello,
                        que Mategotchi, ofrece una oportunidad a todos los niños para que se sigan 
                        desarrollando en su etapa infantil.
                    </p>
                </div>
        </section>
        
        <section class="info-contacto">
            <h2 class="subtitle">Contacto</h2> 
            <div class="opciones-contacto">
                <a href="/" class="contacto info-div nes-container">
                    <div>
                        <p>Facebook</p>
                        <em class="nes-icon facebook is-large"></em>
                    </div>
                </a>
                <a href="/" class="contacto info-div nes-container">
                    <div>
                        <p>Correo</p>
                        <em class="nes-icon gmail is-large"></em>
                    </div>
                </a>
                <a href="/" class="contacto info-div nes-container">
                    <div>
                        <p>GitHub</p>
                        <em class="nes-icon github is-large"></em>
                    </div>
                </a>
            </div>
        </section>

    </main>

    <div class="popUp nes-container is-rounded" id="div_login">
        <button type="button" id="btn-cerrarLogin" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Iniciar Sesión</h2>
        <form action="/auth" id="form_login" method="POST" class="form_index">
            <label for="email1_usuario">
                <span>Correo electronico:</span>
                <input type="email" name="email1_usuario" id="email1_usuario" class="nes-input" required>
            </label>
            <label for="password1_usuario">
                <span>Password:</span>
                <input type="password" name="password1_usuario" id="password1_usuario" class="nes-input" required>
            </label>
            <button type="submit" id="submit_login" class="nes-btn is-primary">Ingresar</button>
        </form>
    </div>

    <div class="popUp nes-container is-rounded" id="div_registro">
        <button type="button" id="btn-cerrarRegister" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Registrarse</h2>
        <form action="/registroUsuario" id="form-registro" method="POST" class="form_index">
            <label for="nombre_usuario">
                <span>Nombre(s):</span>
                <input type="text" name="nombre_usuario" id="nombre_usuario" class="nes-input" required>
            </label>
            <label for="apPat_usuario">
                <span>Apellido paterno:</span>
                <input type="text" name="apPat_usuario" id="apPat_usuario" class="nes-input" required>
            </label>
            <label for="apMat_usuario">
                <span>Apellido materno:</span>
                <input type="text" name="apMat_usuario" id="apMat_usuario" class="nes-input" required>
            </label>
            <div class="nes-select">
                <label for="grado_usuario">
                    <span>¿En que grado te encuentras?</span>
                    <select name="grado_usuario" id="grado_usuario" required>
                        <option value="1ro de primaria">1ro de primaria</option>
                        <option value="2do de primaria">2do de primaria</option>
                        <option value="3ro de primaria">3ro de primaria</option>
                    </select>
                </label>
            </div>
            <label for="escuela_usuario">
                <span>¿En que escuela estudias?</span>
                <input type="text" name="escuela_usuario" id="escuela_usuario" class="nes-input">
            </label>
            <label for="email2_usuario">
                <span>Correo electronico: </span>
                <input type="email" name="email2_usuario" id="email2_usuario" class="nes-input" required>
            </label>
            <label for="password2_usuario">
                <span>Contraseña:</span>
                <input type="password" name="password2_usuario" id="password2_usuario" class="nes-input" required>
            </label>
            <label for="condiciones" id="label-condiciones">
                <span class="tiny-text">Acepto que mi información sea utilizada en la plataforma.</span>
                <input type="checkbox" name="condiciones" id="condiciones" required>
            </label>
            <button type="submit" id="submit_registro" class="nes-btn is-primary">Registrarse</button>
        </form>
    </div>

    <footer>
        <div>
            <p>
                Copyright <em class="fas fa-copyright"></em>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="../public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>