<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mategotchi </title>
    <link rel="stylesheet" href="../public/css/general_styles.css">
    <link rel="stylesheet" href="../node_modules/nes.css/css/nes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    </head>

<body>

    <header class="contenedor" id="headerInicio">
        <div id="header-index">
            <nav>
                <div id="header-logo_mategotchi">
                    <a href="/" id="header-logo">
                        <h2 class="logo">MG</h2>
                        <span>MATEGOTCHI</span>
                    </a>
                </div>
                <button type="button" id="boton-menu"><em class="fas fa-bars nes-btn"></em></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/" class="nes-btn is-warning">Inicio</a></li>
                        <li><a href="/" class="nes-btn">¿Quienes somos?</a></li>
                        <li><a href="/" class="nes-btn">Contacto</a></li>
                        <li><a href="/" class="nes-btn" id="login-btn">Iniciar Sesión</a></li>
                        <li><a href="/" class="nes-btn" id="register-btn">Registrarse</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main_section">
        <h1>¡Bienvenido!</h1>
        <section>
            <img src="../public/img/rabbit-gif.gif" alt="">
            <p>Descubre una nueva y divertida manera de aprender matemáticas.</p>
        </section>
    </main>

    <div class="popUp nes-container is-rounded" id="div_login">
        <button type="button" id="btn-cerrarLogin" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Iniciar Sesión</h2>
        <form action="/auth" id="form_login" method="POST" class="form_index">
            <label for="email1_usuario">
                <span>Correo electronico:</span>
                <input type="email" name="email1_usuario" id="email1_usuario" class="nes-input" required>
            </label>
            <label for="password1_usuario">
                <span>Password:</span>
                <input type="password" name="password1_usuario" id="password1_usuario" class="nes-input" required>
            </label>
            <button type="submit" id="submit_login" class="nes-btn is-primary">Ingresar</button>
        </form>
    </div>

    <div class="popUp nes-container is-rounded" id="div_registro">
        <button type="button" id="btn-cerrarRegister" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Registrarse</h2>
        <form action="/registroUsuario" id="form-registro" method="POST" class="form_index">
            <label for="nombre_usuario">
                <span>Nombre(s):</span>
                <input type="text" name="nombre_usuario" id="nombre_usuario" class="nes-input" required>
            </label>
            <label for="apPat_usuario">
                <span>Apellido paterno:</span>
                <input type="text" name="apPat_usuario" id="apPat_usuario" class="nes-input" required>
            </label>
            <label for="apMat_usuario">
                <span>Apellido materno:</span>
                <input type="text" name="apMat_usuario" id="apMat_usuario" class="nes-input" required>
            </label>
            <div class="nes-select">
                <label for="grado_usuario">
                    <span>¿En que grado te encuentras?</span>
                    <select name="grado_usuario" id="grado_usuario" required>
                        <option value="1ro de primaria">1ro de primaria</option>
                        <option value="2do de primaria">2do de primaria</option>
                        <option value="3ro de primaria">3ro de primaria</option>
                    </select>
                </label>
            </div>
            <label for="email2_usuario">
                <span>Correo electronico: </span>
                <input type="email" name="email2_usuario" id="email2_usuario" class="nes-input" required>
            </label>
            <label for="password2_usuario">
                <span>Contraseña:</span>
                <input type="password" name="password2_usuario" id="password2_usuario" class="nes-input" required>
            </label>
            <button type="submit" id="submit_registro" class="nes-btn is-primary">Registrarse</button>
        </form>
    </div>

    <footer>
        <div>
            <p>
                Copyright <em class="fas fa-copyright"></em>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="../public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>