<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mategotchi </title>
    <link rel="stylesheet" href="../public/css/general_styles.css">
    <link rel="stylesheet" href="../public/css/inicio_styles.css">
    <link rel="stylesheet" href="../node_modules/nes.css/css/nes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
</head>

<body class="wrapper">

    <header class="contenedor" id="header-principal">
        <div id="header-index">
            <nav>
                <div id="header-logo_mategotchi">
                    <a href="/inicio" id="header-logo">
                        <picture>
                            <source media="(min-width: 871px)" srcset="../public/img/logo-completo.png">
                            <img src="../public/img/logo.png" alt="Logo de Mategotchi">
                        </picture>
                    </a>
                </div>
                <button type="button" id="boton-menu"><em class="fas fa-bars nes-btn"></em></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/" class="nes-btn">Mascota</a></li>
                        <li><a href="/" class="nes-btn">Mi perfil</a></li>
                        <li><a href="/" class="nes-btn">Configuración</a></li>
                        <li><a href="/logout" class="nes-btn is-error">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="flex-section center-flex">
        <h1 class="titleh1">Menu</h1>
        <section class="section-inicio" id="user-div">
            <div class="div-inicio nes-container is-centered flex-section" id="profile-section">
                <div id="img-user">
                    <em class="nes-bcrikko"></em>
                </div>
                <div id="info-user">
                    <p> <%=nombre_usuario%> </p>
                    <p>80 exp</p>
                    <progress class="nes-progress is-success" value="80" max="100"></progress>
                </div>
            </div>
            <div class="div-inicio nes-container with-title is-centered">
                <h3>Copo de nieve</h3>
                <img src="../public/img/mouse-gif.gif" alt="" id="user-pet">
            </div>
        </section>
        <section class="section-inicio" id="menu-div">
            <a>
                <div class="div-inicio nes-container is-centered div-opcion" id="div-clases">
                    <h3>Clases</h3>
                    <img src="../public/img/icon-clases.png" alt="">
                </div>
            </a>
            <a>
                <div class="div-inicio nes-container is-centered div-opcion" id="div-ejercicios">
                    <h3>Ejercicios</h3>
                    <img src="../public/img/icon-actividad.png" alt="">
                </div>
            </a>
            <a>
                <div class="div-inicio nes-container is-centered div-opcion" id="div-juegos">
                    <h3>Juegos</h3>
                    <img src="../public/img/icon-juego.png" alt="">
                </div>
            </a>
        </section>
    </main>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <em class="fas fa-copyright"></em>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="../public/js/script_inicio.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>