<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mategotchi </title>
    <link rel="stylesheet" href="../public/css/general_styles.css">
    <link rel="stylesheet" href="../public/css/inicio_styles.css">
    <link rel="stylesheet" href="../node_modules/nes.css/css/nes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
</head>

<body class="wrapper">

    <header class="contenedor" id="header-principal">
        <div id="header-index">
            <nav>
                <div id="header-logo_mategotchi">
                    <a href="/inicio" id="header-logo">
                        <picture>
                            <source media="(min-width: 871px)" srcset="../public/img/logo-completo.png">
                            <img src="../public/img/logo.png" alt="Logo de Mategotchi">
                        </picture>
                    </a>
                </div>
                <button type="button" id="boton-menu"><em class="fas fa-bars nes-btn"></em></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/" class="nes-btn">Configuración</a></li>
                        <li><a href="/logout" class="nes-btn is-error">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <h1 class="titleh1">Menu</h1>
    <main class="flex-section center-flex">
        <section class="section-inicio" id="user-div">
            <a id="boton-perfil">
                <div class="div-inicio nes-container is-centered flex-section" id="profile-section">
                    <div id="img-user">
                        <em class="nes-bcrikko"></em>
                    </div>
                    <div id="info-user">
                        <p> <%=nombre_usuario%> </p>
                        <p>80 exp</p>
                        <progress class="nes-progress is-success" value="80" max="100"></progress>
                    </div>
                </div>
            </a>
            <div class="div-inicio nes-container with-title is-centered" id="avatar-section">
                <div id="info-avatar">
                    <h3>Copo de nieve</h3>
                    <img src="../public/img/mouse-gif.gif" alt="" id="user-pet">
                </div>
            </div>
        </section>
        <section class="section-inicio" id="menu-div">
            <a id="boton-clases">
                <div class="div-inicio nes-container is-centered div-opcion" id="div-clases">
                    <h3>Clases</h3>
                    <img src="../public/img/icon-clases.png" alt="">
                </div>
            </a>
            <a id="boton-ejercicios">
                <div class="div-inicio nes-container is-centered div-opcion" id="div-ejercicios">
                    <h3>Ejercicios</h3>
                    <img src="../public/img/icon-actividad.png" alt="">
                </div>
            </a>
            <a id="boton-juegos">
                <div class="div-inicio nes-container is-centered div-opcion" id="div-juegos">
                    <h3>Juegos</h3>
                    <img src="../public/img/icon-juego.png" alt="">
                </div>
            </a>
        </section>
    </main>

    <div class="popUp nes-container is-rounded" id="div_clases">
        <button type="button" id="btn-cerrarClases" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Clases</h2>
        <section class="menu-juegos">
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Clase1"><h3>Lección 1 Clase 1</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Clase2"><h3>Lección 1 Clase 2</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Clase3"><h3>Lección 1 Clase 3</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Clase4"><h3>Lección 2 Clase 4</h3></div>
            </a>
            <a href="//proximamente">
                <div class="option-juego nes-container is-centered" id="Clase5"><h3>Lección 2 Clase 5</h3></div>
            </a>
        </section>
    </div>

    <div class="popUp nes-container is-rounded" id="div_ejercicios">
        <button type="button" id="btn-cerrarEjercicios" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Ejercicios</h2>
        <section class="menu-juegos">
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Ejercicio1"><h3>Ejercicio 1</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Ejercicio2"><h3>Ejercicio 2</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Ejercicio3"><h3>Ejercicio 3</h3></div>
            </a>
            <a href="/proximamente">
                <div class="option-juego nes-container is-centered" id="Ejercicio4"><h3>Ejercicio 4</h3></div>
            </a>
            <a href="//proximamente">
                <div class="option-juego nes-container is-centered" id="Ejercicio5"><h3>Ejercicio 5</h3></div>
            </a>
        </section>
    </div>

    <div class="popUp nes-container is-rounded" id="div_juegos">
        <button type="button" id="btn-cerrarJuegos" class="nes-btn is-error">X</button>
        <h2 class="subtitle">Lista de juegos</h2>
        <section class="menu-juegos">
            <a href="/juego1">
                <div class="option-juego nes-container is-centered" id="juego1"><h3>Juego 1</h3></div>
            </a>
            <a href="/juego2">
                <div class="option-juego nes-container is-centered" id="juego2"><h3>Juego 2</h3></div>
            </a>
            <a href="/juego3">
                <div class="option-juego nes-container is-centered" id="juego3"><h3>Juego 3</h3></div>
            </a>
            <a href="/juego4">
                <div class="option-juego nes-container is-centered" id="juego4"><h3>Juego 4</h3></div>
            </a>
            <a href="/juego5">
                <div class="option-juego nes-container is-centered" id="juego5"><h3>Juego 5</h3></div>
            </a>
        </section>
    </div>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <em class="fas fa-copyright"></em>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="../public/js/script_inicio.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>