<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Mategotchi </title>
    <link rel="stylesheet" href="../public/css/general_styles.css">
    <link rel="stylesheet" href="../public/css/inicio_styles.css">
    <link rel="stylesheet" href="../public/css/juegos_styles.css">
    <link rel="stylesheet" href="../node_modules/nes.css/css/nes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <!-- minify -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <!-- latest -->
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <!-- core style only -->
    <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>

<body class="wrapper">

    <header class="contenedor" id="header-principal">
        <div id="header-index">
            <nav>
                <div id="header-logo_mategotchi">
                    <a href="/inicio" id="header-logo">
                        <picture>
                            <source media="(min-width: 871px)" srcset="../public/img/logo-completo.png">
                            <img src="../public/img/logo.png" alt="Logo de Mategotchi">
                        </picture>
                    </a>
                </div>
                <button type="button" id="boton-menu"><em class="fas fa-bars nes-btn"></em></button>
                <div id="menu-nav">
                    <ul>
                        <li><a href="/inicio" class="nes-btn">Inicio</a></li>
                        <li><a href="/logout" class="nes-btn is-error">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="flex-section center-flex">
        <h1 class="titleh1">Juego 4</h1>
        <section class="zona-juego">
            <div class="fondo"> 
                <img id="ejercicio1" src="../public/img/img_juegos/bienvenidanivel4.png" class="nivel1Bienvenida">
            </div>
            <div class="boton" id="boton1">
                <button onclick="iniciar(0)" type="button"> <img src="../public/img/img_juegos/aceptar.png" height ="80" width="100" /></button>
            </div>
            <div class="respuesta" id="resultado" style="display: none;">
                <form name="myForm" action="" onsubmit="validarRespuesta()" method="post">
                    <input type="text" name="fname1" class="R1">
                    <input type="text" name="fname2" class="R2">
                    <input type="text" name="fname3" class="R3">
                    <button onsubmit="validarRespuesta()" type="submit" id="boton4"> <img src="../public/img/img_juegos/aceptar.png" height ="40" width="50" /></button>
                  </form>
            </div>
        </section>
    </main>

    <footer id="page-footer" class="contenedor">
        <div>
            <p>
                Copyright <em class="fas fa-copyright"></em>
                2020. Todos los
                derechos reservados
            </p>
        </div>
    </footer>

    <!--Usaremos sweet alert para las alertas-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Esto nos permite especificar codigo para el ejs y sweet alert-->
    <% if(typeof alert !=  "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="../public/js/script_juegos.js"></script>
    <script src="../public/js/script_juego3.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>

</html>